#!/bin/sh
# Switch conda env

# shellcheck disable=SC1091
# shellcheck source=.env

[ -f .env ] && . .env

env_name=$(grep '^name:' environment.yml | awk '{print $2}')
shell_name=$(basename "${SHELL}")

if [ -f environment.yml ]; then
  if ! conda env list | grep -q "^$env_name\s"; then
    echo "Creating conda environment: $env_name"
    mamba env create -f environment.yml
  fi
  eval "$(conda shell."${shell_name}" hook)" >/dev/null
  conda activate "$env_name"
fi

exit_hook() {
  if [ -f environment.yml ]; then
    eval "$(conda shell."${shell_name}" hook)" >/dev/null
    conda deactivate
  fi
}
