[init]
  defaultBranch = main
  templateDir = ~/.git_template

[push]
  default = current

[color]
  ui = auto

[alias]
  aa = add --all
  ap = add --patch
  br = branch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  brs = branches
  ci = commit -S -v
  co = checkout
  dh = diff --full-index --binary --find-copies-harder --ignore-cr-at-eol --ignore-space-at-eol --pickaxe-all --compact-summary --shortstat --exit-code --color-moved=dimmed-zebra --color-moved-ws=allow-indentation-change  --diff-algorithm=histogram
  ff = fetch -fk --all
  kamino = clone --recursive
  la = log --diff-filter=A
  ld = log --diff-filter=D
  ll = log --graph --oneline --show-signature
  lm = log --diff-filter=M
  l1day = log --after="1 day ago" --date=short --pretty=format:"%h %ad %s"
  lweek = log --after="1 week ago" --date=short --pretty=format:"%h %ad %s"
  ltoday = log --after="midnight" --date=short --pretty=format:"%h %ad %s"
  lmonday = log --after="last Monday" --date=short --pretty=format:"%h %ad %s"
  lmonth = log --after="1 month ago" --date=short --pretty=format:"%h %ad %s"
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
  mru = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  pf = push --force-with-lease
  st = status
  wip = commit -v -S --allow-empty -m 'WIP'

[core]
  attributesfile = ~/.gitattributes
  autocrlf = false
  eol = lf
  excludesfile = ~/.gitignore
  fileMode = false
  sharedRepository = group

[merge]
  ff = only

[commit]
  template = ~/.gitmessage

[fetch]
  prune = true

[rebase]
  autosquash = true

[http]
  postBuffer = 100000000

[pull]
  rebase = true

[include]
  path = ~/.gitconfig.local

[tag]
  forceSignAnnotated = true

[safe]
  directory = *
  directory = /home/linuxbrew/.linuxbrew/Homebrew

[gpg]
  format = ssh

[credential]
  # https://git-scm.com/docs/gitcredentials
  helper = store
  helper = cache --timeout=3600
