.stfolder
.stignore
.stversions/
*-eggs/
**/__pycache__/
**/.cache
**/.claude
**/.coverage
**/.coverage.*
**/.eggs/
**/.env
**/.env.*.local
**/.env.local
**/.hypothesis/
**/.installed.cfg
**/.nox/
**/.pyre/
**/.pytest_cache/
**/.Python
**/.pytype/
**/.scrapy
**/.stfolder
**/.stignore
**/.tox/
**/.venv
**/.webassets-cache
**/*.cover
**/*.egg
**/*.egg-info/
**/*.log
**/*.py,cover
**/*.pyc
**/*.pyd
**/*.pyo
**/build/
CLAUDE.md
cover/
coverage.xml
cython_debug/
htmlcov/
instance/
JOURNAL.md
pip-delete-this-directory.txt
pip-log.txt
var/
venv/
venv/
