# Common user configuration metadata (example)
# Individual user definitions are in srv/pillar/users/*.sls
# This file contains only managed_users list and global tokens

# Managed users list - users that get provisioned and dotfiles deployed
# Individual user configs defined in srv/pillar/users/{username}.sls
SALT_CI: True

managed_users:
  - demo_user
  - demo_admin

# SMB mounts for users (shared git repo, etc.)
# smb:
#   git_share:
#     device: //nas.local/git
#     mountpoint: git  # relative to user home
#     fstype: cifs
#     opts: vers=3.0,soft,rw
#     credentials_path: /etc/samba/creds
