# Common user definitions shared across all platforms
# Each user can have OS-specific configuration (linux_groups, windows_groups, etc)
{% set docker_enabled = salt['pillar.get']('docker_enabled', False) %}

# Managed users list - users that get dotfiles/configs deployed
# Note: admin excluded - use built-in Administrator on Windows, admin user still created on Linux via users dict
managed_users:
  - admin
  - demo

users:

  admin:
    fullname: Admin User
    shell: /bin/bash
    home_prefix: /home
    linux_groups:
      - cozyusers
{% if docker_enabled %}
      - docker
{% endif %}
      - libvirt
      - kvm
    windows_groups:
      - Administrators
      - Users
    ssh_keys: []

  demo:
    fullname:  Demo User
    shell: /bin/bash
    home_prefix: /home
    linux_groups:
      - cozyusers
{% if docker_enabled %}
      - docker
{% endif %}
      - libvirt
      - kvm
    windows_groups:
      - Users
    ssh_keys: []
