[Unit]
Description=tmux session %i
Documentation=man:tmux(1)
Documentation=https://github.com/tmux/tmux/wiki
After=default.target

[Service]
Type=forking
Environment=TMUX_TMPDIR="%h/scratch/tmux/"
Environment=TMUX_SOCKET="%h/scratch/tmux/tmux-%U/%i.sock"
ExecStart=/usr/bin/env tmux -S ${TMUX_SOCKET} new-session -d -s %i
ExecStop=/usr/bin/env tmux -S ${TMUX_SOCKET} kill-session -t %i
KillMode=process
Restart=no
Environment=TERM=tmux-256color

[Install]
WantedBy=default.target
