# alacritty.toml
# https://alacritty.org/config-alacritty.html#s9
{#-
Requires:
  - user_home
  - user_shell
  - font_name
    - or logic to establish it
#}

[font]
{#-
Linux: Fira Code
Windows: FiraCode Nerd Font
#}
normal = { family = "FiraCode Nerd Font" }
bold = { family = "FiraCode Nerd Font", style = "Bold" }
italic = { family = "FiraCode Nerd Font", style = "Italic" }
bold_italic = { family = "FiraCode Nerd Font", style = "Bold Italic" }
size = 11.0

[colors.primary]
background = "#1d1f21"
foreground = "#c5c8c6"

[colors.normal]
black   = "#1d1f21"
red     = "#cc6666"
green   = "#b5bd68"
yellow  = "#f0c674"
blue    = "#81a2be"
magenta = "#b294bb"
cyan    = "#8abeb7"
white   = "#c5c8c6"

[colors.bright]
black   = "#666666"
red     = "#d54e53"
green   = "#b9ca4a"
yellow  = "#e7c547"
blue    = "#7aa6da"
magenta = "#c397d8"
cyan    = "#70c0b1"
white   = "#eaeaea"

[colors]
transparent_background_colors = true

[terminal]
{#-
should fetch shell from user,
should extend pillar to have windows default shell or default pwsh
should load per user from their shells

shells in env: bash, zsh, pwsh
#}
shell = { program = "pwsh", args = [""] }

[window]
padding = { x = 3, y = 3 }
dynamic_padding = true
opacity = 0.8
blur = true
dynamic_title = false

[general]
working_directory = "{{ user_home }}"
live_config_reload = true

[debug]
log_level = "Debug"
