# Scopebuddy: https://docs.bazzite.gg/Advanced/scopebuddy/
SCB_AUTO_HDR=1
SCB_AUTO_VRR=1
SCB_DEBUG=1  # ~/.config/scopebuddy/scopebuddy.log

# Steam Overlay / Steam Input
export XDG_DEFAULT_LAYOUT=no

# Gamescope: https://github.com/ValveSoftware/gamescope
# Gamescope via deep wiki: https://deepwiki.com/ValveSoftware/gamescope/
SCB_GAMESCOPE_ARGS="-w 1280 -h 800 -W 1280 -H 800 --fullscreen --force-windows-fullscreen"
