PermitUserEnvironment yes

# cozy-ssh
AcceptEnv __SSH_PROXYJUMP_GATE__
AcceptEnv __SSH_CONN_HASH_GATE__
AcceptEnv __SSH_CONN_INIT_HOST_GATE__
AcceptEnv __SSH_ORIGINAL_TARGET_GATE__
AcceptEnv __SSH_RESOLVED_TARGET_GATE__

# Tooling
AcceptEnv INTERACTIVE
AcceptEnv COLORTERM

# General
AcceptEnv LANG
AcceptEnv LC_*
AcceptEnv LC_ADDRESS
AcceptEnv LC_ADDRESS
AcceptEnv LC_ALL
AcceptEnv LC_ALL
AcceptEnv LC_COLLATE
AcceptEnv LC_COLLATE
AcceptEnv LC_CTYPE
AcceptEnv LC_CTYPE
AcceptEnv LC_IDENTIFICATION
AcceptEnv LC_IDENTIFICATION
AcceptEnv LC_MEASUREMENT
AcceptEnv LC_MEASUREMENT
AcceptEnv LC_MESSAGES
AcceptEnv LC_MESSAGES
AcceptEnv LC_MONETARY
AcceptEnv LC_MONETARY
AcceptEnv LC_NAME
AcceptEnv LC_NAME
AcceptEnv LC_NUMERIC
AcceptEnv LC_NUMERIC
AcceptEnv LC_PAPER
AcceptEnv LC_PAPER
AcceptEnv LC_TELEPHONE
AcceptEnv LC_TELEPHONE
AcceptEnv LC_TIME
AcceptEnv LC_TIME
AcceptEnv NO_COLOR
AcceptEnv TERM
AcceptEnv TERM_PROGRAM
