{%- set is_wsl = grains.get('kernel_release', '').find('WSL') != -1 %}
{%- set ssh_port = 2222 if is_wsl else salt['pillar.get']('ssh:port', 22) %}
{%- set public_accept_key_types = salt['pillar.get']('ssh:public_accept_key_types', [
  "ecdsa-sha2-nistp256", "ecdsa-sha2-nistp384", "ecdsa-sha2-nistp521",
  "rsa-sha2-256", "rsa-sha2-512",
  "ssh-ed25519",
  "ssh-rsa"
] ) -%}
{%- set pub_accept_string = "+" ~ public_accept_key_types | join(",") %}
AuthorizedKeysFile .ssh/authorized_keys
ClientAliveCountMax 0
ClientAliveInterval 600
Port {{ ssh_port }}
PubkeyAcceptedKeyTypes {{ pub_accept_string }}
PubkeyAuthentication yes
PasswordAuthentication no
Subsystem sftp internal://sftp-server
{%- if grains['os_family'] != 'Windows' %}
X11Forwarding yes
{%- endif %}
