{%- set paths = salt['pillar.get']('paths', {}) %}
{%- set is_wsl = grains.get('kernel_release', '').find('WSL') != -1 %}
{%- set ssh_port = 2222 if is_wsl else salt['pillar.get']('ssh:port', 22) %}
{%- set public_accept_key_types = salt['pillar.get']('ssh:public_accept_key_types', [
  "ecdsa-sha2-nistp256", "ecdsa-sha2-nistp384", "ecdsa-sha2-nistp521",
  "rsa-sha2-256", "rsa-sha2-512",
  "ssh-ed25519",
  "ssh-rsa"] ) %}
{%- set pub_accept_string = "+" ~ public_accept_key_types | join(",") %}
{%- if grains['os_family'] == 'Windows' %}
  {%- set pwsh_7_profile = paths.get('powershell_7_profile', 'C:/Program Files/PowerShell/7') %}
  {%- set pwsh_exe = pwsh_7_profile + "/pwsh.exe" %}
  {%- set pwsh_present = salt['file.file_exists'](pwsh_exe) %}
{%- endif %}
ClientAliveCountMax 0
ClientAliveInterval 600
MaxSessions 28
PasswordAuthentication no
Port {{ ssh_port }}
Protocol 2
PubkeyAcceptedKeyTypes {{ pub_accept_string }}
PubkeyAuthentication yes
{%- if grains['os_family'] == 'Windows' and pwsh_present %}
{#-
    FIXME: Enter-PSSession
        - The SSH client session has ended with error message: The SSH transport process has abruptly terminated causing this remote session to break.
        - This only prevents `Enter-PSSession -HostName "localhost" -Debug -Verbose` from expected execution `ssh localhost` is fine
#}
Subsystem powershell {{ pwsh_exe }} -SSHServerMode -NoLogo
{%- endif %}
Subsystem sftp internal-sftp
{%- if grains['os_family'] != 'Windows' %}
X11Forwarding yes
{%- endif %}
